h1 {
  margin-bottom: auto;
}

.jumbotron {
  background-image: url(resources/jumbopic.gif);
  margin: auto;
  padding-bottom: inherit;
  padding-top: inherit;
}
.btn-secondary {
  width: 100%;
  height: 38px;
  background-color: rgb(228, 222, 222);
}

.invalid:hover {
  color: #d9534f;
}

.invalid {
  color: #d9534f;
}

.btn-secondary:disabled {
  background-color: #fff;
}

body {
  width: 320px;
}

.section {
  border-bottom: 1px ridge;
}

.row {
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-group {
  padding-right: 0px;
  width: inherit;
}

.row .form-group {
  padding-top: 3px;
  padding-bottom: 3px;
}

.form-group > label {
  padding-left: 0px;
  padding-right: 0px;
}

p {
  margin-bottom: 0;
}

.text-muted {
  font-size: 14px;
}

#accordion a[data-parent="#accordion"] {
  color: inherit;
  text-decoration: inherit;
}

input#creditsToBuy::-webkit-outer-spin-button,
input#creditsToBuy::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.myCursive {
  font-family: 'Dancing Script', cursive;
  color: #0679f7;
  font-size: 2rem;
}

